.products-page{
  padding-top: 68px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.products-header{
  font-size: 24px;
  font-weight: 700;
}
.products-container{
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-auto-rows: 400px;
  grid-template-columns: repeat(auto-fill, minmax(min(50%, 300px), 1fr)) ;
  margin-bottom: 24px;
}