.products-page{
  flex-grow: 1;
  padding-top: 68px;
  width: 100vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  animation: moveInBottom 0.5s ease-out 0.1s ;
  animation-fill-mode: backwards;
}
.products-header{
  font-size: 24px;
  font-weight: 700;
}
.products-container{
  width: 80%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(50%, 300px), 1fr)) ;
  margin-bottom: 24px;
}
@keyframes moveInBottom{
0%{
  opacity: 0;
  transform: translateY(10px);
}
100%{
  opacity: 1;
  transform: translateY(0px);
}
}