.landing-page{
  position: relative;
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}

.landing-btn{
  width: 80%;
  height: 40px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
}
.landing-btn:hover{
  transform: scale(1.005);
}