.landing-page{
  padding-top: 54px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header{
  text-align: center;
  font-size: 32px;
  font-weight: 500;
}
.carousel{
  width: 100%;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(min(50%, 200px), 1fr)) ;
  margin-bottom: 24px; width: 100%;
}
.landing-btn{
  width: 80%;
  height: 40px;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border: 0;
}
.landing-btn:hover{
  transform: scale(1.005);
}