.carousel{
  display: flex;
  padding: 12px;
  animation: moveInBottom 0.7s ease-out 0.5s ;
  animation-fill-mode: backwards;
}
.carousel-card{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 24px;
  margin: 24px;
  border-radius: 50px;
  text-align: center;
}
.img-container {
  height: 260px;
  width: 240px;
  object-fit: contain;
}
