.carousel-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 24px;
  margin: 24px;
  border-radius: 50px;
  text-align: center;
  height: 300px;
  width: 100%;
  min-width: 224px;
}
@media (max-width:1100px) {
  .carousel-card{
    height: auto;
    width: 90%;
  }
}
