.carousel-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--secondary-color);
  padding: 24px;
  margin: 24px;
  border-radius: 50px;
  text-align: center;
  height: 300px;
  width: 100%;
  min-width: 224px;
}

.carousel-title {
  font-size: 20px;
}

.carousel-img {
  height: 180px;
}

@media (max-width:1100px) {
  .carousel-card {
    height: auto;
    width: 80%;
    align-items: center;
    padding: 12px;
  }

  .carousel-img {
    height: 80%;
    width: 80%;
  }
}