.navbar-container{
  z-index: 10;
  position: fixed;
  height: 56px;
  width: 100vw;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.navbar-right{
display: flex;
align-items: center;
}
.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 8px;
  padding: 4px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  color: var(--primary-color );
  cursor: pointer;
}
.nav-icon{
  color: var(--primary-color);
}
.link-title{
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
.link{
  text-align: center;
  font-weight: 500;
  margin-right: 24px;
  font-size: 20px;
}
@media(max-width: 540px) {
  .link{
    display: none;
  }
}
.nav-btn:hover{
  background-color: var(--third-bg-color);
}