.navbar-container{
  z-index: 10;
  position: fixed;
  height: 56px;
  width: 100vw;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.navbar-left{
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
.navbar-right{
width: 100px;
display: flex;
align-items: center;
}
.nav-btn{
  margin-left: 8px;
  padding: 4px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
}
.nav-icon{
  color: var(--primary-color);
}
.nav-btn:hover{
  background-color: var(--third-bg-color);
}