.navbar-container{
  z-index: 10;
  position: fixed;
  height: 56px;
  width: 100vw;
  background-color: var(--primary-bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}
.navbar-right{
display: flex;
align-items: center;
}
.nav-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 8px;
  padding: 4px;
  background-color: transparent;
  border: 0;
  border-radius: 5px;
  text-decoration: none;
  list-style: none;
  color: var(--primary-color );
  cursor: pointer;
}
.nav-icon{
  color: var(--primary-color);
}
.link-title{
  text-decoration: none;
  list-style: none;
  color: var(--primary-color);
  font-weight: 700;
  font-size: 24px;
  cursor: pointer;
}
.link{
  text-align: center;
  font-weight: 500;
  margin-right: 12px;
  font-size: 20px;
}
.link-highlight{
  background-color: var(--third-color);
}
.nav-basketCount{
  position: relative;
  top: -14px;
  right: 6px;
  background-color: #E9725A;
  border-radius: 100px;
  color: #fff;
  padding: 2px 6px;
  font-size: 0.9rem;
}
.inactive{
  display: none;
}
.light .navbar-container{
  box-shadow: 5px 5px 5px rgba(0,0,0,0.25);
}
@media(max-width: 540px) {
  .link{
    display: none;
  }
}
.nav-btn:hover{
  background-color: var(--third-bg-color);
}