.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--third-bg-color);
  padding: 24px;
  margin: 24px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-title{
  font-size: 24px;
  font-weight: 700;
}
.product-description{
  font-size: 16px;
  font-weight: 300;
}
.product-price{
  font-size: 20px;
  font-weight: 700;
}
.light .product-card {
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}

.product-img {
  max-width: 340px;
  width: 100%;
}
