.product-card{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--third-bg-color);
  padding: 24px;
  margin: 24px;
  border-radius: 50px;
}

.product-title{
  font-size: 24px;
  font-weight: 700;
}
.product-description{
  font-size: 16px;
  font-weight: 300;
}
.product-price{
  font-size: 20px;
  font-weight: 700;
}
.light .product-card {
  box-shadow: 4px 4px 4px rgba(0,0,0,0.2);
}
.product-card:hover{
  transform: scale(1.02);
}
.quantity-span{
  height: 24px;
  font-size: 20px;
}
.product-card-btn{
  padding: 6px;
  border-radius: 30px;
  border: 0px;
  background-color: var(--primary-color);
  color: var(--third-bg-color);
  font-weight: 300;
}
.product-card-icon{
  width:  24px ;
}