@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-weight: 300;
}
body {
	font-family: "Nunito", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.dark {
	--primary-color: #fff;
	--secondary-color: #2d1d42;
	--third-color: #fd772a;
	--primary-bg-color: #1a0b2e;
	--secondary-bg-color: #251c31;
	--third-bg-color: #693b93;
}
.light {
	--primary-color: #000;
	--secondary-color: #edf2f7;
	--third-color: #aa22dd;
	--primary-bg-color: #f7fafc;
	--secondary-bg-color: #edf2f7;
	--third-bg-color: #f7fafc;
}
.App {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: var(--secondary-color);
	color: var(--primary-color);
	overflow-x: hidden;
}
.layout-page {
	flex-grow: 1;
	gap: 1;
	width: 80%;
	max-width: 1000px;
	min-height: fit-content;
	background-color: var(--third-bg-color);
	border-radius: 50px;
	display: flex;
	padding: 24px;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.light .layout-page {
	box-shadow: 0px 5px 25px rgba(0, 0, 0, 0.25);
}
